.puppies-app__header {
  height: 5rem;
}

.puppies-list {
  flex-wrap: wrap;
}

.puppies-list__item {
  width: calc((100% - 6rem) / 4);
  border: 1px solid #1b2428;
}

.puppies-list__item:nth-child(4n + 1),
.puppies-list__item:nth-child(4n + 2),
.puppies-list__item:nth-child(4n + 3) {
  margin-right: 2rem;
}

.puppies-list__item:nth-child(n + 5) {
  margin-top: 2rem;
}

.puppies-list__item__adopt-btn {
  color: #fff;
}

.puppies-list__item__adopt-btn.not-adopted {
  background: #1b2428;
}

.puppies-list__item__adopt-btn.adopted {
  background: #f7412d;
}
